<div class="Pantalla justify-content-center">

    <div class="justify-content-center">
        <p></p>
        <p></p>
        <h1 style="text-align: center; color: #f5f5f5;;"> VIBORITA</h1>
        <p></p>
        <p></p>
        <div class=" pb-5" style="background-color: #1a67be">
            <div class="container2" #fullScreen>
                <div class="score-card">
                    <div class="score-board">
                        <h1>PUNTOS: <span style="font-size: 80px;">{{food.score}}</span></h1>
                        
                        <button class="btn-dark btnReiniciar" (click)="Reiniciar()">Volver a Jugar</button>
                    </div>
                    <br>
                    <div class="game-board"></div>
                </div>
            </div>
        </div>

    </div>