
<div class="bg-primary d-flex" style="height: 100vh; width: 100vw;">
    <div class="container">
        <div class="row gx-5 justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-12 text-center">
                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">¿Quién soy?</span></h2>
                <h2>
                    <img [src]=this.jsonApi.avatar_url alt="">
                </h2>
                <p class="lead fw-light mb-4">Mi nombre es Agustin Real</p>
                <p class="text-muted">Mi aplicación se trata de</p>
                <div class="d-flex justify-content-center fs-2 gap-4">
                    <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                    <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                    <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

