<div class="d-flex justify-content-center Pantalla">

    <div  class="contenedorPrincipal">
        <div  class="card m-3" >
            <h2 class="h2Texto">AHORCADO</h2>
            <br>
            <img class="imgAhorcado" src="../../../assets/imagenes/juegos/ahorcado/fondoFutbol.png" alt="">
            <div  class="card-body ">
                <h5  class="card-title">Acerca:</h5>
                <p  class="card-text"> El juego se trata de adivinar el jugador con una cantidad de intentos. </p>
                <button class="btn-dark up" (click)="IrAhorcado()">JUGAR</button>
            </div>
        </div> 

        <div  class="card m-3" >
            <h2 class="h2Texto">MAYOR O MENOR</h2>
            <br>
            <img class="imgAhorcado" src="../../../assets/imagenes/juegos/ahorcado/fondoCartas.png" alt="">
            <div  class="card-body ">
                <h5  class="card-title">Acerca:</h5>
                <p  class="card-text"> El juego se trata de a partir de un mazo de carta se va a preguntar si la siguiente es mayor o menor. </p>
                <button class="btn-dark up" (click)="IrMayorMenor()">JUGAR</button>
            </div>
        </div> 

        <div  class="card m-3" >
            <h2 class="h2Texto">PREGUNTADOS</h2>
            <br>
            <img class="imgAhorcado" src="../../../assets/imagenes/juegos/preguntados/preguntadosLogo.png" alt="">
            <div  class="card-body ">
                <h5  class="card-title">Acerca:</h5>
                <p  class="card-text"> El juego se trata de a partir de un mazo de carta se va a preguntar si la siguiente es mayor o menor. </p>
                <button class="btn-dark up" (click)="IrPreguntados()">JUGAR</button>
            </div>
        </div> 

        <div  class="card m-3" >
            <h2 class="h2Texto">VIBORITA</h2>
            <br>
            <img class="imgAhorcado" src="../../../assets/imagenes/juegos/vivorita/snakeIcono.png" alt="">
            <div  class="card-body ">
                <h5  class="card-title">Acerca:</h5>
                <p  class="card-text"> El juego se trata de comer con una viborita pero no puedes chocar con las paredes.</p>
                <button class="btn-dark up" (click)="IrDisparos()">JUGAR</button>
            </div>
        </div> 
    </div> 
</div>